.form-body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.form-footer {
	margin-top: auto;
	margin-bottom: 1.5rem;
}

.forms {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 30rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 2rem;
	border: 1px solid black;
	border-radius: 8px;
}

.form-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-buttons {
	display: flex;
	justify-content: space-between;
}

.form-buttons a {
	padding: 0.25rem;
	background-color: #b5c9c4;
	border: 1px solid black;
	border-radius: 4px;
	color: black;
	text-decoration: none;
}

.form-buttons a:hover {
	background-color: #96b9b0;
}
