.post-container {
	box-shadow: 2px 2px 2px grey;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80rem;
	margin: 1rem auto;
	padding: 1.5rem;
	border: 1px solid #4d4938;
}

.post-container img {
	object-fit: contain;
	width: 70%rem;
	max-width: 100%;
	max-height: 40rem;
	margin: 1rem auto;
}

.post-container-info {
	box-shadow: 0 2px 5px grey;
	width: 70%;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 4px;
}

.post-container-info p {
	padding: 0.25rem;
	text-align: start;
}

.post-actions {
	margin-block: 2rem;
}

.post-actions a {
	margin: 2rem auto;
	padding: 0.5rem;
	background-color: #b5c9c4;
	border: 1px solid black;
	border-radius: 4px;
	color: black;
	text-decoration: none;
}

.post-actions a:hover {
	background-color: #96b9b0;
	cursor: pointer;
}

.post-logout-btn {
	margin-bottom: 3rem;
}
